@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/images"; 
@import "node_modules/bootstrap/scss/utilities"; 
@import "node_modules/bootstrap/scss/modal"; 
@import "node_modules/bootstrap/scss/alert";

//colors 
$white: #fff;
$orange: #FA7E15;
$color_cinnabar_approx: #e74c3c;
$color_chateau_green_approx: #27ae60;
$color_gallery_approx: #eee;
$color_celeste_approx: #cfcfcf;
$color_lima_approx: #83bd23;

body {
  margin: 0px; 
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
  color:#313131;

  .bold{
    font-weight: 700;
  }
  .light{
    font-weight: 300;
  }

  .medium{
    font-weight: 500;
  }
  p{
    font-size:16px;
  }

  li{
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
  }

  &.wrap-first-step {
    #content-wrap {
      min-height: 500px;
      overflow: auto;
      background: #EFEFEF;
      border: 0px; 
      width: 100%; 
      .content {
        min-height: 50em;
        background: #EFEFEF;

        .body {
          width: 100%;
          padding: 0px;
          background: #EFEFEF;
          height: auto;
          #first-step-wrap {
            position: relative; 
            margin: 0 auto; 
            padding-bottom: 50px;
            #wrap-form {
              margin-top: 10px;
              width: 400px;
              border: 3px solid $orange;
               margin: 0 auto;
              background: #fff;
              right: 0px;
              z-index: 9; 
              padding-top: 50px;
              p {
                text-align: center;
                margin-bottom: 30px;
                font-size: 20px;
              }

              input {
                padding: 15px;
                border: 1px solid #CDCDCD;
                border-radius: 5px;
                width: 70%;
                margin: 0 auto;
                margin-bottom: 20px;
                display: block;
              }
              #text-gdpr{
                    display: block;
                 line-height: 15px;
                 font-size: 0.60em;
                  width: 70%;
                  margin: 0 auto;
                  color:#494949;
                  margin-bottom: 20px;
                  font-weight: 400;
                  position:relative;
                  a{
                    color:$orange;
                  }

                  #linkgdpr{
                    color:$orange;
                    cursor: pointer;
                  }
              }

              #send-form {
                border-radius: 0px;
                background: #FF8101;
                color: #fff;
                outline: none;
                font-size: 21px;
                border: 0px;
                width: 78%;
                cursor: pointer; 
                margin-bottom: 50px;

                &:active {
                  -moz-transform: scale(0.9);
                  -webkit-transform: scale(0.9);
                  -o-transform: scale(0.9);
                  -ms-transform: scale(0.9);
                  transform: scale(0.9);
                }
              }

              input.error {
                -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
                -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
                box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
              }

              label.error {
                color: #e40101;
                text-align: right;
                display: block;
                width: 67%;
                margin: 0 auto;
                margin-bottom: 10px;
                  display: none!important;
              }
            }
          }
        }
      }
    } 
  }

}

header {
  background: #313131; 
  z-index: 10;
  position: relative;
  color:#fff;

  img {
    height: 70px;
  }
  .row{
    position: relative;
  }
  .logo{
    position: absolute;
    left: 0px; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
  }
}

.title-page {
  color:#313131;
  text-align: center;

  span {
    color: $orange;
  }
}

b {
  font-weight: bold;
}


#loding {
  background: rgba(53, 51, 51,0.8);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9999;
 display: none;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;

    img {
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }

}

#pre-loding {
  background: #fcfcfc;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 9;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;

    img {
      -webkit-animation: spin 1s linear infinite;
      -moz-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }

}
 
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#content-wrap {
  position: relative; 
  margin: 0 auto;
  left: 0px;
  right: 0px;
  background: #fff; 
  overflow: hidden;

  .description-message {
    color: #8C8B8B;
    font-size: 26px;
    text-align: center;
  }

  .wizard > .content {
    display: block;
    min-height: 35em;
    overflow: hidden;

    > .body {
      float: left;
      position: absolute;
      width: 100%;
      height: 95%; 
      outline: 0;  
      .question-header{
        background-color: #F2F2F2; 
      }
      #error-answer{
        color: #fff;
        background: #f97e15;
        margin: 0px;
        padding: 20px;
      }

      .question {
        font-weight: bold;
        font-size: 33px;
        color: $orange;
        text-align: center; 
      }

      fieldset {
        text-align: center;
        border: 0px; 

        .sub-label{
          font-size: 16px;
          position: absolute;
          bottom: -80px;
          width: calc(100% + 40px);
          height: 100%;
          line-height: normal;
          left: -20px;
          color:#313131;
        } 

        input[type="radio"] {
          display: none;
        }

        label { 
          font-size: 28px;
          height: 70px;
          width: 70px;
        }

        input[type="radio"] + label {
          background: #fff;
          height: 70px;
          width: 70px;
          border: 1px solid $orange;
          content: " ";
          display: inline-block;
          vertical-align: middle;
          margin: 30px;
          position: relative;
          line-height: 70px;
          text-align: center;
          cursor: pointer;
          color: $orange;

          &:hover {
            background: $orange;
            color:#fff;
          }
        }

        input[type="radio"]:checked + label { 
          background: $orange;
          color: #fff;
        }
      }
      .confirm-button{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
        span{
          margin-top: 0px;
          text-transform: uppercase;
          background: #f97e15;
          color: #fff;
          padding: 10px 50px;
          border-radius: 30px;
          cursor:pointer;
          z-index: 11;
          position: relative;
        }
      }
      .answer-text{
        padding: 20px;
        border: 2px solid $orange;
        border-radius: 30px;
        width: 70%;
        margin: 0 auto; 
        margin-top: 50px; 
        opacity: 1;
        position: relative;
        p{ 
          opacity:0; 
        }
        .to-show{
          opacity: 1;
          position: absolute;
          top: 5px;
        } 
    
      }  
      .answer-text.hide-opacity{
        opacity: 0;
      }
    }
  }
}

.steps { 
  bottom: 0px;
  z-index: 9;
  width: 100%;
  position:relative;
  padding-top: 150px;

  #number-count {
    color: $orange; 
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    #arrow-next, #arrow-prev { 
      display: inline-block;
      height:30px;
      width:30px;
      background-position: center;
      background-size: contain;
      position: absolute;
      top: 14px;
      display:none;
    }
    #arrow-next{
      margin-left: 20px;
      background-image:url('../img/arrow-next.png');
      right: 20px;
    } 
    #arrow-prev{
      margin-right: 20px;
      background-image:url('../img/arrow-prev.png');
      left: 20px;
    }    
  }
    
    
  ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 0px;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
    li:first-child {
      display: none;
    }
    li.current {
      opacity: 0.5;
      &:after { 
        display:none;
      }
    }
    li.past{
      &:after { 
        display:none;
      }
    }
    li.done{
      &:after { 
        display:none;
      }
    }
    li {
      width: 35px;
      display: inline-block;
      margin-bottom: 20px;
      position:relative;
      &:after { 
        content: '';
        display: block;
        width: 100%;
        height: 11px; 
        z-index: 9999;
        position: relative;
      }

      a {
        width: 11px;
        height: 11px;
        border-radius: 50px;
        margin: 0px 10px;
        background: #FFFFFF;
        border: 1px solid $orange;
        float: left;
        cursor: pointer;
      }
    }

    .current a {
      border: 1px solid $orange;
      background: $orange;
    }

    .past a {
      border: 1px solid $orange;
      background: $orange;
    }
  }
}

.result-page{ 
  .nav-pills{
    .nav-item{ 
      margin-bottom: 0px; 
      a{
        margin-bottom: 0px;
      }
    }
  }
  .sub-header{
    background-color:#F2F2F2;
  }
  #graps-wrap{ 
    color:#fff;
    background: rgb(91,91,91);
    background: -moz-radial-gradient(center, ellipse cover, rgba(91,91,91,1) 1%, rgba(50,50,50,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(91,91,91,1) 1%,rgba(50,50,50,1) 100%);
    background: radial-gradient(ellipse at center, rgba(91,91,91,1) 1%,rgba(50,50,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#323232',GradientType=1 );
  }

  #chart_bar{
    svg > rect{
      fill: transparent;
    }


    text[text-anchor="end"]{
      fill: #fff;
    }

    text[text-anchor="middle"]{
      fill: #fff;
    }
     
  }
  .chart_wrap{
    svg > rect{
      fill: transparent;
    }
  }

  #leggend{
    li{
      .circle{
        display: inline-block;
        width: 15px;
        height: 15px; 
        margin-right: 5px;
        border-radius: 50%; 
        margin-bottom: -2px;
      }
      .requirements_met{
        background: #6BAF4C;
      } 
      .requirements_partially_met{
        background: #EB7328;
      }
      .requirements_exceeded{
        background: #35A2C3;
      } 
      .gaps{
        background: #FF0000; 
      }
    }
  }

  #download-button{
    background: #EB7328;
    color: #fff;
    border: 0px;
    font-size: 16px;
    cursor:pointer;
    padding: 10px 50px;
    outline: none;
    border-radius: 30px;
  }

  .nav-pills{
    li{
      width:25%;
      text-align: center;
      a{
        margin: 5px;
        text-decoration: none;
        color:#313131;
        background:#F2F2F2;
        border-radius: 0px;
      }
      .active{
        background:#EB7328;
        color:#fff;
      }
    }
  }

  .tab-pane .chart_wrap > div >div{ 
    margin: 0 auto;
  }

  .tab-border{
    border: 3px solid #EB7328;
    border-bottom: 0px;
  } 

  .result-download-area{
    background: #EB7328;
    .single-download-wrap{
     background:#fff;
    }
    .cta{
      text-transform: uppercase;
      color: #313131;
      text-decoration: none;
      display: block;
      padding: 10px;
      margin-top: 20px;
      border: 2px solid #EB7328;
      border-radius: 30px; 
    }
  }

  .related-content-title{
    font-size:18px;
  }

  .related-content-link{
    padding: 10px 50px;
    border: 2px solid #EB7328;
    color: #313131;
    text-decoration: none;
    border-radius: 30px;
    display: block;
    text-align: center;
    margin-top: 20px; 
  }

  #download-modal{
    .modal-header{
      border: 0px;
      .close{
        border: 0px;
        background: transparent;
        cursor: pointer;
        font-size: 20px;
      }
    }
    .modal-body{
      padding-top: 0px;
    }
    input{
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #cfcfcf;
    }
    #send-form{ 
      background: #EB7328;
      color: #fff;
      border: 0px;
      font-size: 15px;
      text-transform: uppercase;
      cursor: pointer;
      padding: 10px;
      text-align: center;
    }
  }

  #alert-success{
    position: fixed;
    top: 0px;
    z-index: 99;
    right: 0px;
    left: 0px;
    display:none;
    border-radius: 0px;
  }
 
}



footer {
  background: #4C4C4C;
  text-align: left;
  color: #fff; 
  padding: 50px 0px 50px 0px;
  a{
    color:$orange;
    text-decoration:none;
  }
}

@media all and (max-width: 1024px) {
  header .logo {
    position: relative; 
    left: 0px;
    top: 0px; 
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .result-page {
    .nav-pills{
      li{
        width: 100%;
      }
    }
  }
}

@media all and (max-width: 768px) {
  #arrow-next, #arrow-prev { 
    display:block!important;
  }
}


@media all and (max-width: 966px) and (min-width: 768px) {
  #first-step-wrap>.row>.col-md-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
  

@media screen and (max-width: 1210px) {
  body {
    #first-step-wrap {
      width: 100% !important;
    } 
  }
}

 

@media screen and (max-width: 966px) {
  .hide-custom-word{
    display: none!important;
  }
  body {
    #content-wrap {
      width: 100%;

      .wizard > .content {
        .body { 
          #first-step-wrap {
            width: 90%;

            .col-md-7 {
              width: 100% !important;
            }

            #wrap-form {
              p {
                margin-bottom: 15px;
                padding: 0px 10px;
              }

              label.error {
                width: 75%;
                text-align: center;
              }

              margin-top: 50px;
              position: relative;
              top: 0!important;
              width: 100%;

           
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) and (min-width: 769px) {
 #wrap-form-custom-col {
    margin:0 auto;
 }
   #send-form{
    font-size: 15px!important;
 }


}

@media screen and (max-width: 934px) {
  body {
    #content-wrap {
      .wizard > .content {
        min-height: 45em;
      }
    }
  }
}

@media screen and (max-width: 815px) { 
  .question{
        font-size: 29px!important;
  }
  #send-form{
    font-size: 14px!important;
  }
  #grey-box{
    padding: 15px;
  }
}
@media screen and (max-width: 767px) {
  #content-wrap{
    .wizard > .content > .body{
      fieldset{
        padding:0px;
        input[type="radio"] + label{ 
          height: 50px;
          width: 19%;
          line-height: 50px;
          margin-left: 3%;
          margin-right: 3%;
          float: left;
          margin-bottom: 70px;
          .sub-label{
            text-align: center!important;
            width: 100%!important;
            left: 0px;
          }
        }
      }
    }
  } 
  #step-wrap{
    .steps{
      ul{
        display:none;
      }
    } 
  } 
 
  .answer-text{
    margin-top: 65px!important;
    width: 80%!important;
  }
  .steps{
    padding-top: 220px; 
    #number-count{
      position: relative;
      padding: 20px;
    } 
  } 
  footer{
    text-align: center;
    .text-right{
      text-align: center!important;
    }
    #logo{
      margin-top:30px;
    }
  }
}

@media screen and (max-width: 480px) {
  body {
    #content-wrap {
      width: 100%; 

      .wizard > .content { 

        .body {
          width: 100%;

          #first-step-wrap {
            width: 90%; 
            #grey-box{
              padding: 15px;
            }
            #wrap-form {
              p {
                margin-bottom: 15px;
                padding: 0px 10px;
              }

              label.error {
                width: 75%;
                text-align: center;
              }

              margin-top: 50px;
              position: relative;
              top: 0;
              width: 100%;
 
            }
          }
        }
      }
    }
  }

  #total-score {
    .row {
      margin-bottom: 15px;
    }
  }

  .title-page {
    font-size: 29px;
  }
}

.pos-relative {
  position:relative!important;
}



