<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />
        <title>Rocket | WMS Comparison Insight Tool</title>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P8Z62K5');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8Z62K5"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <a target="_blank" href="https://www.rocket-consulting.com/" class="logo">
                        <img id="logo" src="{{ asset('img/logo.png') }}" />
                    </a>
                    <div class="col-sm-12 p-0">
                        <h1 class="m-0 text-center light" >SAP WMS Selection Tool</h1>
                    </div>
                </div>
            </div>
        </header>

        <div id="content-wrap">
            <div id="step-wrap">
                <section class="first-step pos-relative">
                    <div class="container">
                        <div class="col-sm-12">
                            <div id="header-first-step">
                                <h2 class="light">Welcome to the Rocket SAP Warehouse Management System selection tool.</h2>
                            </div>
                            <div id="first-step-wrap">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm mt-4">
                                            <p><strong>Part of the Rocket Digital Command Centre Toolset - increasing project success rates by transforming customer decision making with fast visual insights throughout the project lifecycle.</strong></p>
                                            <p>Developing a business case for a digital supply chain or warehouse management project is often not a simple undertaking.</p>
                                            <p>Making the right platform selection is an essential part of the project business case, ensuring alignments across strategic business, IT, operations objectives, as well as key functional requirements.</p>
                                            <p>The Rocket SAP Warehouse Management System (WMS) assessment tool provides IT and supply chain leaders with a method to rapidly align the WMS platform capability with their specific needs. Providing transparent results with detailed visual insights that helps create robust reporting to engage and influence key stakeholders in support of the project.</p>
                                            <h3 class="light">Putting the control back in your hands.</h3>
                                            <p>Rocket have helped hundreds of businesses over the past decade to make confident, informed decisions based on impartial assessment of their key requirements and transparent information showing the impact of each on the assessment outcome, supporting fast cost/benefit analysis. </p>
                                            <p>This tool typically takes 10 minutes to complete, with 29 simple questions grouped by process areas (Inbound -> Internal -> General -> Outbound -> Technology) to answer that assess your requirements against the capability of the 4 different SAP WMS platforms available:</p>

                                            <p style="display: list-item; list-style-type: disc; list-style-position: inside; padding-left:15px; margin-bottom: -7px;">SAP Warehouse Management </p>
                                            <p style="display: list-item; list-style-type: disc; list-style-position: inside; padding-left:15px; margin-bottom: -7px;">SAP Stock Room Management </p>
                                            <p style="display: list-item; list-style-type: disc; list-style-position: inside; padding-left:15px; margin-bottom: -7px;">SAP Extended Warehouse Management (Basic) </p>
                                            <p style="display: list-item; list-style-type: disc; list-style-position: inside; padding-left:15px;">SAP Extended Warehouse Management (Advanced) </p>

                                            <p>You will gain a suitability rating for your business of each platform, helping you select the most appropriate solution for your business.</p>
                                            <p>The Rocket WMS selection logic framework ensures platform matches are delivered against your business need, not on the most advanced platform available, providing you with a level of transparency that will enable you to make informed changes, alterations and budget decisions according to your best fit strategic need.</p>
                                            <p>Register today to access the premium features that will provide you with valuable additional decision-making tools and content, such as the detail requirements analysis.</p>
                                        </div>
                                        <div class="col-sm mt-4">
                                            <form id="wrap-form" action="" name="data-send">
                                                <input type="text" value="" placeholder="First Name*" id="name" required name="name"/>
                                                <input type="text" value="" placeholder="Last Name*" id="surname" required name="surname"/>
                                                <input type="text" value="" placeholder="Email*" id="email" required name="email"/>
                                                <div id="text-gdpr" >
                                                    {# <span>
                                                    Klood Digital needs the contact information you provide to us to contact you about our products and services. You may unsubscribe from these communications at anytime. For information on how to unsubscribe, as well as our privacy practices and commitment to protecting your privacy, check out our
                                                    <span id="linkgdpr">privacy policy.</span>
                                                    </span> #}
                                                </div>
                                                <input id="send-form" type="submit" value="START YOUR ASSESSMENT"/>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% for question in questions %}
                <section class="question-wrap" data-index="{{ loop.index }}" data-question-id="{{ question.questionId }}"  data-cat="{{ question.questionCat }}" data-cat-id="{{ question.catId }}">
                    <div class="question-header p-4 text-center">
                        <h3>Process area: {{ question.questionCat }}</h3>
                        <p>On a scale of 0 - 3, how important is the following functional requirement to your warehouse management system?</p>
                    </div>
                    <h4 class="question bold">{{ question.questionName }}</h4>
                    <fieldset>
                        <input id="answer-{{ loop.index }}-0" type="radio" name="{{ question.questionName }}" value="0">
                        <label class="radio-label" for="answer-{{ loop.index }}-0">0
                            <span class="sub-label">Not Required</span>
                        </label>
                        <input id="answer-{{ loop.index }}-1" type="radio" name="{{ question.questionName }}" value="1">
                        <label class="radio-label" for="answer-{{ loop.index }}-1">1
                            <span class="sub-label">Nice to Have / Future</span>
                        </label>
                        <input id="answer-{{ loop.index }}-2" type="radio" name="{{ question.questionName }}" value="2">
                        <label class="radio-label" for="answer-{{ loop.index }}-2">2
                            <span class="sub-label">Required (simple)</span>
                        </label>
                        <input id="answer-{{ loop.index }}-3" type="radio"  name="{{ question.questionName }}" value="3">
                        <label class="radio-label" for="answer-{{ loop.index }}-3" >3
                            <span class="sub-label">Required (complex)</span>
                        </label>
                    </fieldset>
                    <div class="answer-text" >
                        <p data-rel="answer-{{ loop.index }}-0">{{ question.answer_0 }}</p>
                        <p data-rel="answer-{{ loop.index }}-1" >{{ question.answer_1 }}</p>
                        <p data-rel="answer-{{ loop.index }}-2" >{{ question.answer_2 }}</p>
                        <p data-rel="answer-{{ loop.index }}-3" >{{ question.answer_3 }}</p>
                    </div>
                    <div class="confirm-button medium" ><span>Confirm</span></div>
                </section>
                {% endfor %}
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p>© Rocket Consulting {{ "now"|date("Y") }}</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <p class="text-center">
                            <a target="_blank" href="https://www.rocket-consulting.com/terms-conditions" class="mr-2">Terms & Conditions</a>
                            <a target="_blank" href="https://www.rocket-consulting.com/privacy-policy" class="ml-2">Privacy Policy</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right">
                        <a target="_blank" href="https://www.rocket-consulting.com/" class="logo">
                            <img id="logo" src="{{ asset('img/logo.png') }}" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <canvas id="chart" width="600" height="600" style="display:none!important;"></canvas>
        <div id="loding">
            <span><img  width="150px"  src="{{ asset('img/loading-icon.svg') }}" /></span>
        </div>
        <div id="pre-loding">
            <span><img  width="150px" src="{{ asset('img/loading-icon.svg') }}" /></span>
        </div>

        <div id="chart_bar" class="chart_wrap"></div>
        <div id="chart_stock_room_management" class="chart_wrap"></div>
        <div id="chart_warehouse_management" class="chart_wrap"></div>
        <div id="chart_embedded_ewm_basic" class="chart_wrap"></div>
        <div id="chart_embedded_ewm_advanced" class="chart_wrap"></div>

        <div id="checkEmailList-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Please enter a business email address to proceed with the assessment.</p>
                    </div>
                    <div class="modal-footer">
                        <button
                                type="button"
                                style="
                                    padding: 8px;
                                    border-radius: 0;
                                    background: #ff8101;
                                    color: #fff;
                                    outline: none;
                                    font-size: 21px;
                                    border: 0;
                                    width: 100px;
                                    cursor: pointer;
                                    text-align: center"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        {% block javascripts %}
        {{ encore_entry_script_tags('validate') }}
        {{ encore_entry_script_tags('jquery.steps') }}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('setting-steps') }}
        {% endblock %}

        <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3462882.js"></script>
        <!-- End of HubSpot Embed Code -->
    </body>
</html>
